/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color:mistyrose;
    font-family:'Times New Roman', Times, serif}


/* Menu */

header{
    padding: 25px;
}

nav{
    text-align: left;
}

nav a{
    text-decoration: none;
  
    margin: 20px;
    font-size: 18px;
}
.container{
   display: flex;
   justify-content: center;
    width: 99%;
    max-width: 1200px;
    margin:0 auto;
}

img{
    text-align: center;
    border-radius: 100px;
    border: 3px solid plum;
     margin: 100px ;
     height: 200px; ;
    width: 200px;
}


h1,h2{
    color:plum;
    margin: 25px ;
    padding: 20px;
    text-align: center;
    
}


section{
    background: white;
    margin: 25px 0;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px ;
}


.header {
background-color:plum;
color: white;
padding: 20px;
text-align: center;
}
/* Banner */
.banner {
background-color:lightpink;
padding: 20px;
margin: 25px;
border-radius: 8px;}



main
    {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}








footer{
    background-color:white;
    color:black;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
    border-radius: 15px;
}

